<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home.css">
    <meta charset="UTF-8">
    <title>Yearbooks</title>
</head>
<header>
    <h1>Yearbooks</h1>
</header>
<body>
    <aside>
        <!-- Start for loop -->
        {% for year in years %}

            <!-- year is not a variable it is the name of the html page -->
            <!--Printing the year from the years variable witch is ylist-->
            <a href ="year">{{year}}</a>

        <!-- End For Loop-->
        {% endfor %}
    </aside>
</body>
</html>